/*
* Marc-Daniel Dialogo
* 1539756
*/

#main, #menu, #header
{
  padding: 1%;
  background-color: #eeeeee;
  opacity: 0.8;
}


#main, #menu
{
  border-style: solid;
  border-width: medium;
  position: absolute;
  margin: 2%;
  overflow: auto;
}

#main
{
  left:0;
  width: 75%;
  height: 70%;
}

#menu
{
  right:0;
  width: 15%;
  height: 70%;
  text-align: center;
}

#header
{
  margin-top: 1.5%;
  margin-left: 1.5%;
  margin-right: 1.5%;
  margin-bottom: -15px;
  border-style: solid;
  border-width: medium;
  font-size: 18px;
}

.links
{
  font-size: 40px;
  margin-top: 10px;
}

a:visited, a:link
{
  color:black;
  text-decoration: none
}

a:hover
{
  color:#618793;
  text-decoration: none
}

#menuHead
{
  text-decoration: underline;
  font-weight: bold;
  font-size: 20px;
}

body
{
  background-color: #283747;
}



textarea
{
  resize: none;
}
